{% extends "moyuweb/base.html" %}

{% block body %}
    <br/>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg"
                     width="130" height="130"/>
                <br/>
                <br/>
                <span class="badge badge-default" style="font-size:20px;">
                    我的昵称
                </span>
                <br/>
                <br/>
                <span style="font-size:20px;color:darkgoldenrod;">
                    <strong>💎️我的收藏夹</strong>
                </span>
                <br/>
                <br/>
                <div class="list-group" id="list-tab" role="tablist" style="width:150px">
                    <a class="list-group-item list-group-item-warning list-group-item-action active" data-toggle="list"
                       href="#">
                        我的宝贝
                        <span class="badge badge-light badge-pill">
                                    6
                                </span>
                    </a>
                    <a class="list-group-item list-group-item-light list-group-item-action" data-toggle="list" href="#">
                        已售出的
                    </a>
                    <a class="list-group-item list-group-item-light list-group-item-action" data-toggle="list" href="#">
                        我的消息
                        <span class="badge badge-secondary badge-pill">
                                    14
                                </span>
                    </a>
                    <a class="list-group-item list-group-item-light list-group-item-action" data-toggle="list" href="#">
                        我赞过的
                    </a>
                    <a class="list-group-item list-group-item-light list-group-item-action" data-toggle="list" href="#">
                        已屏蔽的人
                    </a>
                </div>
                </br>
            </div>
            <div class="col-md-8">
                <div class="page-header">
                    <h2>
                        我收藏的宝贝
                    </h2>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img alt="Bootstrap Thumbnail First" class="card-img-top"
                                 src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg"/>
                            <div class="card-block">
                                <h5 class="card-title">
                                    物品一
                                </h5>
                                <p class="card-text">
                                    售价：
                                    <a style="font-size: 25px; color: firebrick;">¥300</a>
                                    <br>
                                    商品描述…
                                    <br/>
                                    <br/>
                                    <a class="btn" href="#">
                                        关注 (3)
                                    </a>
                                    <br>
                                </p>
                                <p>
                                    <a class="btn btn-warning" href="#">
                                        取消收藏
                                    </a>
                                    <a class="btn" href="#">
                                        修改
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img alt="Bootstrap Thumbnail Second" class="card-img-top"
                                 src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg"/>
                            <div class="card-block">
                                <h5 class="card-title">
                                    物品一
                                </h5>
                                <p class="card-text">
                                    售价：
                                    <a style="font-size: 25px; color: firebrick;">¥300</a>
                                    <br>
                                    商品描述…
                                    <br/>
                                    <br/>
                                    <a class="btn" href="#">
                                        关注 (3)
                                    </a>
                                    <br>
                                </p>
                                <p>
                                    <a class="btn btn-warning" href="#">
                                        取消收藏
                                    </a>
                                    <a class="btn" href="#">
                                        修改
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img alt="Bootstrap Thumbnail Third" class="card-img-top"
                                 src="https://www.layoutit.com/img/sports-q-c-600-200-1.jpg"/>
                            <div class="card-block">
                                <h5 class="card-title">
                                    物品一
                                </h5>
                                <p class="card-text">
                                    售价：
                                    <a style="font-size: 25px; color: firebrick;">¥300</a>
                                    <br>
                                    商品描述…
                                    <br/>
                                    <br/>
                                    <a class="btn" href="#">
                                        关注 (3)
                                    </a>
                                    <br>
                                </p>
                                <p>
                                    <a class="btn btn-warning" href="#">
                                        取消收藏
                                    </a>
                                    <a class="btn" href="#">
                                        修改
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img alt="Bootstrap Thumbnail First" class="card-img-top"
                                 src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg"/>
                            <div class="card-block">
                                <h5 class="card-title">
                                    物品一
                                </h5>
                                <p class="card-text">
                                    售价：
                                    <a style="font-size: 25px; color: firebrick;">¥300</a>
                                    <br>
                                    商品描述…
                                    <br/>
                                    <br/>
                                    <a class="btn" href="#">
                                        关注 (3)
                                    </a>
                                    <br>
                                </p>
                                <p>
                                    <a class="btn btn-warning" href="#">
                                        取消收藏
                                    </a>
                                    <a class="btn" href="#">
                                        修改
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img alt="Bootstrap Thumbnail Second" class="card-img-top"
                                 src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg"/>
                            <div class="card-block">
                                <h5 class="card-title">
                                    物品一
                                </h5>
                                <p class="card-text">
                                    售价：
                                    <a style="font-size: 25px; color: firebrick;">¥300</a>
                                    <br>
                                    商品描述…
                                    <br/>
                                    <br/>
                                    <a class="btn" href="#">
                                        关注 (3)
                                    </a>
                                    <br>
                                </p>
                                <p>
                                    <a class="btn btn-warning" href="#">
                                        取消收藏
                                    </a>
                                    <a class="btn" href="#">
                                        修改
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <br/>
    <br/>
{% endblock %}